/* Universal Stylings */

body {
    background-color: #4499d1;
    color: black;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    background-color: #f5f5f5;
    color: black;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    height: 40px;
    width: 100%;
    float: right;
    font-weight: bold;
}

h2 {
    color: black;
    padding: 10px;
    width: 98%;
    left: 0;
    justify-content: center;
}

p {
    padding: 10px;
    width: 98%;
    justify-content: center;
}

/* NavBar Stylings */

.topnav {
    position: absolute;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 5;
    right: 0;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 20.24px 25px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.active:hover {
    background-color: #02AA6D;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Light/Dark Mode Stylings */

.site-footer {
    position: fixed;
    bottom: 0;
    background-color: white;
}

.mode-toggle-day {
    position: fixed;
    background-color: white;
    color:black;
    height: 50px;
    width: 50px;
    font-size: 30px;
    bottom: 0;
    left: 0;
}

.mode-toggle-day:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}