/* Universal Stylings */

body {
    background-color: #042f4b;
    color: white;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.hidden {
    opacity: 0;
}

.hidden header {
    opacity: 1;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.visibe header {
    transition: default;
}

h1 {
    background-color: #333333;
    color: white;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    height: 40px;
    width: 100%;
    float: right;
    font-weight: bold;
    border-bottom: 2px solid #111111;
    z-index: 1;
}

h2 {
    color: white;
    padding: 10px;
    width: 98%;
    left: 0;
    justify-self: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #666
}

.comics .container {
    justify-content: flex-start;
    align-content: space-evenly;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #666
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selector {
    background-color: #ccc;
    height: 100px;
    width: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.selector:hover {
    background-color: #999;
    transition: background-color 0.25s ease-out;
}

.selector:not(:hover) {
    background-color: #ccc;
    transition: background-color 0.25s ease-out;
}

.selector:active {
    background-color: #555
}

.gamesSelector {
    background-color: #ccc;
    height: 140px;
    width: 400px;
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.gamesSelector:hover {
    background-color: #999;
    transition: background-color 0.25s ease-out;
}

.gamesSelector:not(:hover) {
    background-color: #ccc;
    transition: background-color 0.25s ease-out;
}

.gamesSelector:active {
    background: #888
}

p {
    padding: 10px;
    width: 98%;
    text-align: justify;
    text-justify: inter-word;
}

.homeInfo {
    width: 750px;
    font-size: 24px;
}

.comics .comicInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    width: 81.62%
}

.comics .comicInfo h3 {
    font-weight: bold;
}

.comics .comicInfo h4 {
    font-weight: normal;
    font-size: 20px;
}

.comics .comicInfo p {
    width: clamp(750px, 1200px);
    font-size: 16px;
}

.homeComicImage {
    width: 700px;
    aspect-ratio: 16 / 8;
}

.comics .comicImage {
    width: 350px;
    aspect-ratio: 2 / 3
}

.comics .comicImage:hover {
    transform: translateY(-15px);
    transition: transform 0.15s ease-out;
}

.comics .comicImage:not(:hover) {
    transform: translateY(0px);
    transition: transform 0.15s ease-out;
}

.gamesInfo {
    width: 750px;
    font-size: 24px;
}

.games .gamesInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    width: clamp(750px, 77%, 1200px);
}

.games .gamesInfo h3 {
    font-weight: bold;
}

.games .gamesInfo h4 {
    font-weight: normal;
    font-size: 20px;
}

.games .gamesInfo p {
    font-size: 16px;
}

.gamesImage {
    width: 700px;
    aspect-ratio: 16/ 9;
}

.games .gamesImage {
    width: clamp(100px, 550px);
    aspect-ratio: 1 / 1.1;
}

.games .gamesImage:hover {
    transform: translateY(-15px);
    transition: transform 0.15s ease-out;
}

.games .gamesImage:not(:hover) {
    transform: translateY(0px);
    transition: transform 0.15s ease-out;
}

/* NavBar Stylings */

.topnav {
    position: fixed;
    background-color: #333333;
    overflow: hidden;
    z-index: 5;
    right: 0;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #ddd;
    text-align: center;
    padding: 20.24px 25px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(:nth-child(5)) {
    border-right: 0.1px solid black;
}

.topnav a:hover {
    background-color: #111111;
    color: white;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.active:hover {
    background-color: #02AA6D;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1500px) {
    .gamesContainer {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 1920px) {
    .comics .container {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .comics .container {
        justify-content: center;
    }
    .comicImage {
        width: 100%;
    }

    .gamesImage {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {display: none;}
    .topnav a {
        border-right: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background-color: #04AA6D;
        border-left: 0.1px solid black;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav a:not(:nth-child(5)) {
    border-right: none;
    }
    .topnav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-bottom: 0.1px solid #111;
    }
}

/* Light/Dark Mode Stylings */

.mode-toggle-day {
    position: fixed;
    background-color: #333333;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 30px;
    bottom: 0;
    left: 0;
}

.mode-toggle-day:hover {
    cursor: pointer;
    background-color: #111111;
}

/* Site Footer */

.site-footer {
    position: static;
    width: 98.34%;
    padding: 0.5rem 1rem;
    background: #033;
    color: #ccc;
    font-size: 0.9rem;
}

.site-footer p {
    width: 98.34%;
    text-align: center;
}