/* Universal Stylings */

body {
    background-color: #4499d1;
    color: black;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    background-color: #f5f5f5;
    color: black;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    height: 40px;
    width: 100%;
    float: right;
    font-weight: bold;
    border-bottom: 2px solid #666
}

h2 {
    color: black;
    padding: 10px;
    width: 98%;
    left: 0;
    justify-self: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ddd
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selector {
    height: 100px;
    width: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    padding: 10px;
    width: 98%;
    text-align: justify;
    text-justify: inter-word;
}

.comicInfo {
    width: 750px;
    font-size: 24px;
}

.comicImage {
    width: 700px;
    aspect-ratio: 16 / 8;
}

.gamesInfo {
    width: 750px;
    font-size: 24px;
}

.gamesImage {
    width: 700px;
    aspect-ratio: 16/ 9;
}

/* NavBar Stylings */

.topnav {
    position: fixed;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 5;
    right: 0;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 20.24px 25px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(:nth-child(5)) {
    border-right: 0.1px solid black;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav a.active:hover {
    background-color: #02AA6D;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1500px) {
    .gamesContainer {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 700px) {
    .comicImage {
        width: 100%;
    }

    .gamesImage {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {display: none;}
    .topnav a {
        border-right: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background-color: #04AA6D;
        border-left: 0.1px solid black;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav a:not(:nth-child(5)) {
        border-right: none;
    }
    .topnav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-bottom: 0.1px solid black;
    }
}

/* Light/Dark Mode Stylings */

.site-footer {
    position: fixed;
    bottom: 0;
    background-color: white;
}

.mode-toggle-day {
    position: fixed;
    background-color: white;
    color:black;
    height: 50px;
    width: 50px;
    font-size: 30px;
    bottom: 0;
    left: 0;
}

.mode-toggle-day:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

/* Site Footer */

.site-footer {
    position: static;
    scroll-margin-bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #0cc;
    color: #222;
    font-size: 0.9rem;
}

.site-footer p {
    width: 100%;
    text-align: center;
}