/* Universal Stylings */

:root {
    --background-color: #4499d1;
    --color: black;
    --nav-bar-background: #f5f5f5;
    --nav-bar-hover: #c5c5c5;
    --nav-bar-border: #666;
    --container-background: #ddd;
    --button-background: #fff;
    --button-hover-background: #ddd;
    --button-click-background: #ccc;
    --nav-bar-active: #04AA6D;
    --nav-bar-active-hover: #02AA6D;
    --nav-bar-active-text: white;
    --toggle-day-text: black;
    --toggle-day-background: white;
    --toggle-day-hover: #d1d1d1;
    --footer-text: #222;
    --footer-background: #0cc;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: opacity 1s ease-out;
}

h1 {
    background-color: var(--nav-bar-background);
    color: var(--color);
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    height: 40px;
    width: 100%;
    float: right;
    font-weight: bold;
    border-bottom: 2px solid var(--nav-bar-border);
    z-index: 1;
}

h2 {
    color: var(color);
    padding: 10px;
    width: 98%;
    left: 0;
    justify-self: center;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    padding: 10px;
    width: 98%;
    text-align: justify;
    text-justify: inter-word;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--container-background);
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selector {
    background-color: var(--button-background);
    height: 100px;
    width: 200px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.selector:hover {
    background-color: var(--button-hover-background);
    transition: background-color 0.25s ease-out;
}

.selector:not(:hover) {
    background-color: var(--button-background);
    transition: background-color 0.25s ease-out;
}

.selector:active {
    background-color: var(--button-click-background)
}

.cartButtons {
    display: flex;
    width: 98%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cartButtons button {
    width: clamp(250px, 20%, 500px);
    aspect-ratio: 7 / 2;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
}

.cartButtons button:hover {
    background-color: var(--button-hover-background);
    transition: background-color 0.25s ease-out;
}

.cartButtons button:not(:hover) {
    background-color: var(--button-background);
    transition: background-color 0.25s ease-out;
}

.cartButtons button:active {
    background-color: var(--button-click-background);
}

/* Home Page Stylings */

.homeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--container-background);
}

.homeInfo {
    width: 750px;
    font-size: 24px;
}

.homeComicImage {
    width: 700px;
    aspect-ratio: 16 / 8;
}

/* Comics Page Stylings */

.comics .container {
    justify-content: flex-start;
    align-content: space-evenly;
}

.comics .comicInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    width: 81.62%
}

.comics .comicInfo h3 {
    font-weight: bold;
    font-size: 24px;
}

.comics .comicInfo h4 {
    font-weight: normal;
    font-size: 20px;
}

.comics .comicInfo p {
    width: clamp(750px, 1200px);
    font-size: 16px;
}

.comics .cartButtons button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.comics .comicImage {
    width: 350px;
    aspect-ratio: 2 / 3
}

.comics .comicImage:hover {
    transform: translateY(-15px);
    transition: transform 0.15s ease-out;
}

.comics .comicImage:not(:hover) {
    transform: translateY(0px);
    transition: transform 0.15s ease-out;
}

/* Games Page Stylings */

.games .container {
    justify-content: flex-start;
    align-content: space-evenly;
}

.gamesInfo {
    width: 750px;
    font-size: 24px;
}

.games .gamesInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    width: clamp(750px, 81.62%, 1300px);
}

.games .gamesInfo h3 {
    font-weight: bold;
    font-size: 24px;
}

.games .gamesInfo h4 {
    font-weight: normal;
    font-size: 20px;
}

.games .gamesInfo p {
    font-size: 16px;
}

.games .gamesInfo ul {
    font-size: 16px;
    width: 100%;
}

.gamesImage {
    width: 700px;
    aspect-ratio: 16/ 9;
}

.games .gamesImage {
    width: clamp(400px, 30%, 550px);
    aspect-ratio: 1 / 1.1;
}

.games .gamesImage:hover {
    transform: translateY(-15px);
    transition: transform 0.15s ease-out;
}

.games .gamesImage:not(:hover) {
    transform: translateY(0px);
    transition: transform 0.15s ease-out;
}

.gamesSelector {
    background-color: var(--button-background);
    height: 140px;
    width: 400px;
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.gamesSelector:hover {
    background-color: var(--button-hover-background);
    transition: background-color 0.25s ease-out;
}

.gamesSelector:not(:hover) {
    background-color: var(--button-background);
    transition: background-color 0.25s ease-out;
}

.gamesSelector:active {
    background: var(--button-click-background)
}

.games .cartButtons button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Event Page Stylings */

.eventContainer {
    width: 100%;
    display: flex;
    background-color: var(--container-background);
    justify-content: space-between;
}

.eventFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--container-background);
    align-items: center;
}

.eventImage {
    width: 45%;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(500px, 50%, 1000px)
}

.eventInfo h3 {
    font-size: 30px;
}

.eventInfo h4 {
    font-size: 24px;
}

.eventInfo p {
    padding: 0;
}

.eventForm {
    text-align: center;
    height: 160px;
    width: 200px;
    display: flex;
    align-items: center;
    background-color: purple;
    border-radius: 15px;
}

.popUp {
    display: none;
    position: sticky;
    width: 500px;
    height: 500px;
    background: rgba(0,0,0,0.2);
}

.eventForm input {
    border-radius: 20px;
}

/* Cart Page Stylings */

.cart .container {
    justify-content: flex-start;
    align-content: space-evenly;
}

.cartInfo {
    width: clamp(1000px, 60%, 1400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-left: 80px;
}

.cartInfo h3 {
    font-size: 28px
}

.cartInfo h4 {
    font-size: 22px;
}

.cartImage {
    width: clamp(200px, 20%, 500px);
}

.checkout {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--container-background);
}

.checkoutInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutInfo p {
    font-size: 25px;
    font-weight: bold;

}

.checkoutInfo button {
    width: clamp(250px, 20%, 500px);
    aspect-ratio: 7 / 2;
    padding: 10px;
    margin: 25px;
    font-size: 20px;
}

.checkoutInfo button:hover {
    background-color: var(--button-hover-background);
    transition: background-color 0.25s ease-out;
}

.checkoutInfo button:not(:hover) {
    background-color: var(--button-background);
    transition: background-color 0.25s ease-out;
}

.checkoutInfo button:active {
    background-color: var(--button-click-background)
}

/* NavBar Stylings */

.topnav {
    position: fixed;
    background-color: var(--nav-bar-background);
    overflow: hidden;
    z-index: 5;
    right: 0;
    top: 0;
    transition: background-color 0.15s ease-out;
}

.topnav a {
    float: left;
    display: block;
    color: var(--color);
    text-align: center;
    padding: 20.24px 25px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(:nth-child(5)) {
    border-right: 0.1px solid var(--nav-bar-border);
}

.topnav a:hover {
    background-color: var(--nav-bar-hover);
    color: var(color);
    transition: background-color 0.15s ease-out;
}

.topnav a.active {
    background-color: var(--nav-bar-active);
    color: var(--nav-bar-active-text);
    transition: background-color 0.15s ease-out;
}

.topnav a.active:hover {
    background-color: var(--nav-bar-active-hover);
    transition: background-color 0.15s ease-out;
}

.topnav .icon {
  display: none;
}

/* Light/Dark Mode Stylings */

.mode-toggle-day {
    position: fixed;
    background-color: var(--toggle-day-background);
    color: var(--toggle-day-text);
    height: 50px;
    width: 50px;
    font-size: 30px;
    bottom: 0;
    left: 0;
}

.mode-toggle-day:hover {
    cursor: pointer;
    background-color: var(--toggle-day-hover);
}

/* Site Footer */

.site-footer {
    position: static;
    width: 98.34%;
    padding: 0.5rem 1rem;
    background: var(--footer-background);
    color: var(--footer-text);
    font-size: 0.9rem;
    bottom: 0;
}

.site-footer p {
    width: 98.34%;
    text-align: center;
}

/* Responsive Styles For Smaller Screens */

@media screen and (max-width: 1920px) {
    .comics .container {
        justify-content: center;
    }

    .site-footer {
        width: 98.09%
    }
}

@media screen and (max-width: 1865px) {
    .games .container {
        justify-content: center;
    }

    .site-footer {
        width: 98%
    }
}

@media screen and (max-width: 1500px) {
    .gamesContainer {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 1485px) {
    .home .container {
        justify-content: center;
    }
}

@media screen and (max-width: 1265px) {
    .cart .container {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .comics .container {
        justify-content: center;
    }
    
    .homeComicImage {
        width: 100%;
    }

    .comicImage {
        width: 100%;
    }

    .gamesImage {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {display: none;}
    .topnav a {
        border-right: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background-color: var(--nav-bar-active);
        border-left: 0.1px solid black;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav a:not(:nth-child(5)) {
    border-right: none;
    }
    .topnav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-bottom: 0.1px solid var(nav-bar-border);
    }
}